body {
    margin: 0;
    font-size: 1rem;
    background: #f5f7f8;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #24292e;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

a {
    color: #3354AA;
    text-decoration: none;
}

a:hover, a:active {
    color: #444;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar {
    width: 3px;
    height: 6px
}

::-webkit-scrollbar-thumb {
    height: 40px;
    background-color: #A5A5A5
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbb
}

.h1, h1 {
    font-size: 1.4rem
}

.h2, h2 {
    font-size: 1.3rem
}

.h3, h3 {
    font-size: 1.2rem
}

.h4, h4 {
    font-size: 1.1rem
}

.h5, h5 {
    font-size: 1.0rem
}

.h6, h6 {
    font-size: 0.9rem
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], textarea {
    padding: 5px;
    border: 1px solid #E9E9E9;
    width: 100%;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #eee;
    z-index: 1000;
}

.header .nav {
    margin: auto;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .search {
    height: 36px;
    line-height: 36px;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    box-sizing: border-box;
    background-image: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #eee;
    color: #0b0b37;
}

.header .logo {
    max-height: 40px;
    margin-right: 15px;
}

.circle {
    width: 100%;
    display: flex;
    margin-top: 90px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.sidebar {
    width: 260px;
    height: 100%;
    margin-left: 15px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    z-index: 1;
}

.navigator {
    width: 250px;
    height: 100%;
    margin-right: 1rem;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    z-index: 1;
}

.navigator .columns {
    width: 250px;
    pointer-events: auto;
    height: 100%;
    display: flex;
    border-radius: 5px;
    background-color: #fff;
    flex-direction: column;
    overflow-y: hidden;
}

.navigator .columns .page {
    flex: 1;
}

.navigator .column-link {
    color: #444;
    display: block;
    font-size: 0.95rem;
    padding: 1.2rem 1rem;
    text-decoration: none;
}

.navigator .column-link:hover {
    background: #f5f8fa;
}

.navigator .column-icon {
    display: inline-block;
    margin-right: 10px;
}

.sidebar .columns {
    width: 285px;
    pointer-events: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.sidebar .copyright {
    padding: 8px 15px;
    border-radius: 5px;
    background: white;
}

.sidebar .column + .column {
    margin-top: 1rem;
}

.sidebar .copyright p {
    opacity: .6;
    font-size: 13px;
}

@media screen and (max-width: 1190px) {
    .circle {
        display: block;
    }

    .navigator {
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        margin-right: 0;
        transform: translateX(-250px);
    }

    .sidebar {
        position: fixed;
        height: 100%;
        top: 0;
        right: 0;
        margin-left: 0;
        transform: translateX(260px);
    }
}

@media screen and (max-width: 992px) {
    body {
        background: white;
    }

    .circle {
        margin-top: 75px;
    }
}