body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background: #fff;
}
.nabo-dynamics .dynamic-content {
    background-color: #f4f6fb;
    padding: .5rem .75rem;
    border-radius: 2px;
}
.nabo-dynamics .dynamic-content,
.nabo-dynamics .dynamic-content p{
    font-size: 0.875rem;
    color: #969fb7;
    font-weight: 400;
    line-height: 1.5;
    margin: 6px 0;
}
.nabo-dynamics .dynamic-content img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    /*max-height: 200px;*/
    margin: 0;
}
.nabo-dynamics .dynamic-content a {
    display: inline-block;
}
.nabo-dynamics .dynamic-meta {
    margin: 5px 0 15px 0;
    font-size: 0.75rem;
    color: #969fb7;
}
.nabo-dynamics .dynamic-meta a{
    color: #969fb7;
    text-decoration: none;
}

.dynamics-page-navigator {
	list-style: none;
	margin: 25px 0;
	padding: 0;
	text-align: center;
}

.dynamics-page-navigator li {
	display: inline-block;
	margin: 0 4px;
}

.dynamics-page-navigator a {
	display: inline-block;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

.dynamics-page-navigator a:hover {
	background: #EEE;
	text-decoration: none;
}

.dynamics-page-navigator .current a {
	color: rgba(0, 0, 0, 0.5);
	background: #EEE;
}
.dynamics-page-navigator .next{
	border: 0px;
}
.dynamics-page-navigator .next:hover{
	border: 0px;
}
.dynamics-page-navigator .prev{
	border: 0px;
}
.dynamics-page-navigator .prev:hover{
	border: 0px;
}


.container{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    min-height: calc(100vh - 100px);
    padding: 0 20px;
}
.miui-style {
    color: #4e4e4e;
    font-weight: 300;
    font-size: 2em;
    display: block;
    margin: 30px 0 20px 0;
}
figure{
    margin: 0;
}
figcaption.article-holder {
    font-size: 12px;
    text-align: center;
}
footer {
    font-size: 12px;
    color: #969fb7;
    text-align: center;
    margin: 20px 0;
    line-height: 1.5;
}
footer a {
    color: #969fb7;
    text-decoration: none;
}
.nav {
    font-size: 12px;
    color: #969fb7;
    text-align: right;
    padding-top: 10px;
}
.nav a{
    color: #969fb7;
    text-decoration: none;
}
/* style update @2020-09-20 */
.nabo-dynamics .dynamic-content ul,
.nabo-dynamics .dynamic-content ol {
    padding-left: 20px;
}
.nabo-dynamics .dynamic-content h1 {
  font-size: 22px;
  font-weight: 600;
  margin: 6px 0;
}
.nabo-dynamics .dynamic-content h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 6px 0;
}
.nabo-dynamics .dynamic-content h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 6px 0;
}
.nabo-dynamics .dynamic-content h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 6px 0;
}
.nabo-dynamics .dynamic-content h5 {
  font-size: 14px;
  font-weight: 600;
  margin: 6px 0;
}
.nabo-dynamics .dynamic-content h6 {
  font-size: 12px;
  font-weight: 600;
  margin: 6px 0;
}
.nabo-dynamics .dynamic-content a {
    color: inherit;
    font-weight: 600;
}
.nabo-dynamics .dynamic-content a:hover {
    color: #3b5998;
}
table {
    padding: 0;
    word-break: initial;
    max-width: 100%;
}

table tr {
    border-top: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n),
thead {
    background-color: #fafafa;
}

table tr th {
    font-weight: bold;
    border-bottom: 0;
    text-align: center;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    text-align: center;
    margin: 0;
    padding: 6px 15px;
}

table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}
table {
    background: #fff;
    margin: 6px 0;
}
hr {
    background: #d9dde8;
    border: none;
    height: 2px;
    margin: 6px 0;
}
blockquote {
    margin: 6px 0;
    padding: 6px 0 6px 9px;
    border-left: 3px solid;
    background: #eef0f6;
}
pre {
    background: #eef0f6;
    margin: 6px 0;
    padding: 16px;
}
@media (prefers-color-scheme: dark) {
    body{
        background: #000;
    }
    .miui-style {
        color: #858585;
    }
    .nav a {
        color: #696e81;
    }
    .nabo-dynamics .dynamic-content {
        background-color: #17181c;
    }
    .nabo-dynamics .dynamic-content,
    .nabo-dynamics .dynamic-content p,
    .nabo-dynamics .dynamic-meta,
    .nabo-dynamics .dynamic-meta a,
    footer,
    footer a{
        color: #646b7b;
    }
    .dynamics-page-navigator a{
        color: #595959;
    }
    .dynamics-page-navigator .current a,
    .dynamics-page-navigator a:hover{
        background: #1c1c1c;
        color: #676767;
    }
    img , iframe, embed{
        filter: alpha(Opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
    }
    table {
        background: inherit;
    }
    table tr:nth-child(2n), thead {
        background-color: #252629;
    }
    hr {
        background: #252629;
        border: none;
        height: 2px;
        margin: 6px 0;
    }
    blockquote {
        background: #252629;
    }
    pre {
        background: #252629;
    }
}
