.dynamics_ul {
    margin-top: 3em;
}

li.dynamics_list {
    list-style: none;
    margin-bottom: 3em;
}

.dynamics_list .dynamic-author {
    display: flex;
    align-items: center;
}

.dynamics_list .dynamic-author span img {
    border-radius: 50%;
}

.dynamics_list .dynamic-author cite {
    font-size: 13px;
    padding-left: 10px;
    font-style: normal;
}

.dynamics_list .dynamic-meta {
    margin-left: 40px;
    padding-bottom: 5px;
}

.dynamics_list .dynamic-meta a {
    color: #8f949e;
}

.dynamics_list .dynamic-content {
    word-wrap: break-word;
    padding-top: 1em;
    padding-bottom: 10px;
    font-size: 14px;
}

.dynamics_list .dynamic-content p {
    line-height: 1.7;
}

.dynamics-page-navigator {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    line-height: 1 !important;
    font-size: 12px;
}

.dynamics-page-navigator li {
    padding: 10px 12px;
    line-height: 1 !important;
    list-style: none;
    background: #fff
}

.dynamics-page-navigator li:first-of-type {
    border-radius: 5px 0 0 5px
}

.dynamics-page-navigator li:last-of-type {
    border-radius: 0 5px 5px 0
}

.dynamics-page-navigator .current {
    background: #4a55ee
}

.dynamics-page-navigator .current a {
    color: #fff
}